Source: ros-humble-proto2ros-tests
Section: misc
Priority: optional
Maintainer: Boston Dynamics AI Institute <opensource@theaiinstitute.com>
Build-Depends: debhelper (>= 9.0.0), clang-tidy, libprotobuf-dev, libprotobuf23, libprotoc-dev, protobuf-compiler, ros-humble-ament-cmake, ros-humble-ament-cmake-gtest <!nocheck>, ros-humble-ament-cmake-pytest <!nocheck>, ros-humble-builtin-interfaces, ros-humble-geometry-msgs, ros-humble-proto2ros, ros-humble-rclcpp, ros-humble-rosidl-default-generators, ros-humble-sensor-msgs, ros-humble-ros-workspace, ros-humble-rosidl-typesupport-fastrtps-c, ros-humble-rosidl-typesupport-fastrtps-cpp
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-proto2ros-tests
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, clang-tidy, libprotobuf-dev, libprotobuf23, libprotoc-dev, protobuf-compiler, python3-jinja2, python3-networkx, python3-protobuf, python3-yaml, ros-humble-builtin-interfaces, ros-humble-geometry-msgs, ros-humble-proto2ros, ros-humble-rclcpp, ros-humble-sensor-msgs, ros-humble-ros-workspace
Description: Protobuf to ROS 2 interoperability interfaces tests
